- rank ||= nil
.organization
  - if rank
    .rank #{rank}位
  .name
    = link_to organization do
      = organization.name
    = link_to organization.qiita_page, class: "to-qiita", target: "_blank" do
      = fa_icon "share"
      Q
  .stock-count
    = fa_icon 'folder-o'
    = number_with_delimiter organization.stock_count
  .post-count
    = fa_icon 'pencil-square-o'
    = number_with_delimiter organization.post_count
