.organization
  .rank #{rank}位
  = link_to organization.name, organization.qiita_page, target: "_blank"
  .stock-count
    = fa_icon 'folder-o'
    = number_with_delimiter organization.stock_count
  .post-count
    = fa_icon 'pencil-square-o'
    = number_with_delimiter organization.post_count
