- rank ||= nil
.member
  - if rank
    .rank #{rank}ä½
  .name
    = member.slug
    = link_to member.qiita_page, class: "to-qiita", target: "_blank" do
      = fa_icon "share"
      Qiita
  .stock-count
    = fa_icon 'folder-o'
    = number_with_delimiter member.stock_count
  .post-count
    = fa_icon 'pencil-square-o'
    = number_with_delimiter member.post_count
