%p#notice= notice

%p
  %b Organization:
  = @member.organization
%p
  %b Name:
  = @member.name
%p
  %b Slug:
  = @member.slug
%p
  %b Post count:
  = @member.post_count
%p
  %b Stock count:
  = @member.stock_count

= link_to 'Edit', edit_member_path(@member)
\|
= link_to 'Back', members_path
